@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --mobile-background-image: url(/public/images/bg-mobile-light.jpg);
  --desktop-background-image: url(/public/images/bg-desktop-light.jpg);
  /* COLORS */
  /* color mode === hsl(hue, saturation, lightness) */
  --bright-blue: hsl(220, 98%, 61%);
  --Background-color: hsl(0, 0%, 98%);
  --line-color: hsl(236, 33%, 92%);
  --CompletedText-color: hsl(233, 11%, 84%);
  --Text-color: hsl(236, 9%, 61%);
  --TodoText-color: hsl(235, 19%, 35%);
  --inputText-color: hsl(237, 14%, 26%);
  --body-color: hsl(0, 0%, 100%);
  --border-color: hsl(236, 33%, 92%);

  --shadow: 35px 50px -15px hsla(237, 20%, 80%, 0.5);

  /* This transition creates a smooth effect when switching between light mode and dark mode */
  transition: 0.2s;
}
[dark-theme="dark"] {
  --mobile-background-image: url(/public/images/bg-mobile-dark.jpg);
  --desktop-background-image: url(/public/images/bg-desktop-dark.jpg);
  --bright-blue: hsl(220, 98%, 61%);
  --Background-color: hsl(235, 21%, 11%);
  --line-color: hsl(237, 14%, 26%);
  --CompletedText-color: hsl(233, 14%, 35%);
  --Text-color: hsl(234, 11%, 52%);
  --TodoText-color: hsl(234, 39%, 85%);
  --inputText-color: hsl(234, 39%, 85%);
  --border-color: hsl(237, 14%, 26%);

  --body-color: hsl(235, 24%, 19%);

  --shadow: 35px 50px -15px hsla(0, 0%, 0%, 0.5);

  /* This transition creates a smooth effect when switching between light mode and dark mode */
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
}

.App {
  margin: 0 auto;
  max-width: 500px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4.5rem;
  margin-top: 4rem;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 40px;
  color: #fff;
}

.todo-form {
  position: relative;
  display: flex;
  align-items: center;
}
.todo-form button {
  position: absolute;
  transform: translate(50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--body-color);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: var(--body-color);
  color: var(--inputText-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.todo-list {
  width: 100%;
  background-color: var(--body-color);
  margin: 1.5rem 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--body-color);
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.checked-text {
  color: var(--CompletedText-color);
  text-decoration: line-through;
}

.checked-background {
  background: linear-gradient(0deg, #55ddff, #c058f3);
}
.empty-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
}
.empty-todo p {
  font-size: 18px;
  color: var(--TodoText-color);
}

.empty-todo img {
  width: 5rem;
}

.todo-text {
  font-size: 18px;
  line-height: 10px;
  color: var(--TodoText-color);
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 0 1rem;
}

.cancel-icon {
  display: grid;
  place-content: center;
}

.cancel-icon img {
  place-content: center;
  display: grid;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}
.input[type="text"] {
  color: var(--Text-color);
}

.todo-control {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 14px;
  color: var(--Text-color);
}

.filter-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-buttons button {
  all: unset;
  font-weight: bold;
}

.filter-buttons button:hover {
  color: var(--TodoText-color);
}

.filter-buttons button.active {
  color: var(--bright-blue);
}

.clear-list {
  all: unset;
}

.clear-list:hover {
  color: var(--TodoText-color);
}
@media (min-width: 500px) {
  body {
    background: var(--desktop-background-image) var(--Background-color);
    background-repeat: no-repeat;
  }
  .todo-form button {
    left: 1rem;
  }
  input {
    height: 64px;
    padding: 0 4rem;
  }
  .todos {
    padding: 1.5rem;
  }
}

@media (max-width: 500px) {
  body {
    background: var(--mobile-background-image) var(--Background-color);
    background-repeat: no-repeat;
  }
}
